* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: url('img/Capa.svg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    flex-direction: column;
  }
  
  .logo {
    display: none;
    margin-bottom: 1rem;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #007BFF;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007BFF;
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .toggle {
    margin-top: 1rem;
    text-align: center;
    color: #007BFF;
    cursor: pointer;
  }  
  @media (max-width: 1000px) {
    .logo {
      display: block;
    }
  
    .container {
      margin: 1rem;
    }
  }
  